body {
  background-color: #f0f8ff; /* Light blue background */
  font-family: Arial, sans-serif;
  color: #333;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #204c7b; /* Bootstrap primary color */
  padding: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-group {
  margin: 20px auto;
  max-width: 500px;
}

.task-list {
  background-color: #e3e3e3; /* White background for the task list */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-item {
  border-bottom: 1px solid #eee; /* Subtle border between tasks */
  padding: 10px 0;
  align-items: left;
}

.task-item:last-child {
  border-bottom: none; /* Remove the last border */
}

.task-name {
  flex-grow: 1; /* Take up remaining space */
  font-size: 18px;
  text-align: left; 
}

.completed {
  text-decoration: line-through; /* Strikethrough for completed tasks */
  color: gray; /* Gray color for completed tasks */
}
